.btn-green {
  text-decoration: none;
  background-color: #3DBF59;
  padding: 8px;
  margin-top: 8px;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.btn-green:hover {
  background-color: #37AB51;
}
