.container {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: 700px;
  }
}


@media (max-width: 700px) {
 .container {
    width: 500px;
  }
}


@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}
